#num1 {
color: red
}
.cen {
    text-align:center;
}
header {
	text-align:center;
	border:5px solid black;
	font-family: Vivaldi;
	font-size:30pt
}
article img {
	border:15px dashed green;
	padding: 15px 15px 15px 15px;
}
footer {
	font-family: Courier;
	font-weight: bold;
	font-size: 50pt;
}
h2 {
    margin: 5px 5px 5px 5px;
}